// Libre Franklin font - locally hosted
// Path to fonts directory
$libre-franklin-font-path: "../fonts/libre-franklin" !default;

// Font weight 400 (Regular)
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$libre-franklin-font-path}/LibreFranklin-Regular.ttf') format('truetype');
}

// Font weight 400 (Italic)
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('#{$libre-franklin-font-path}/LibreFranklin-Italic.ttf') format('truetype');
}

// Font weight 600 (SemiBold)
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('#{$libre-franklin-font-path}/LibreFranklin-SemiBold.ttf') format('truetype');
}

// Font weight 600 (SemiBold Italic)
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('#{$libre-franklin-font-path}/LibreFranklin-SemiBoldItalic.ttf') format('truetype');
}

// Font weight 700 (Bold)
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('#{$libre-franklin-font-path}/LibreFranklin-Bold.ttf') format('truetype');
}

// Font weight 700 (Bold Italic)
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('#{$libre-franklin-font-path}/LibreFranklin-BoldItalic.ttf') format('truetype');
}

